.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  padding: 6px 16px;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
}

.bar img {
  width: 61px;
  height: 11px;
}
